body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.logo img {
    height: 50px; /* Ajuste conforme a necessidade */
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-items li {
    padding: 0 10px;
}

.menu-items a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .menu-items {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        flex-direction: column;
    }

    .menu-items.active {
        display: flex;
    }
}

#menu-toggle:checked + .menu-icon + .menu-items {
    display: flex;
}


form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333366;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="date"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #5c67f2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5058e2;
}
