body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-image: 
        url('logozetta.png'),
        linear-gradient(to right, #6a85b6, #bac8e0);
    background-position: 
        center,
        left;
    background-repeat: 
        no-repeat,
        repeat;
    background-size: 
        15%,
        cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card-container {
    max-width: 400px;
    width: 95%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.95); /* Leve transparência */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px); /* Efeito de desfoque no fundo do cartão */
}

.login-card {
    text-align: center;
}

.login-card h1 {
    margin-bottom: 20px;
    color: #334155; /* Tom mais escuro para maior contraste */
    font-size: 24px;
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="date"],
.login-card input[type="email"],
.login-card input[type="file"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: #f0f4f8;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-card input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Glow effect */
}

.login-card button[type="submit"] {
    width: calc(100% - 20px);
    padding: 12px;
    background-color: #2563eb; /* Cor mais vibrante */
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-card button[type="submit"]:hover {
    background-color: #1d4ed8; /* Cor mais escura ao passar o mouse */
}

.login-card-footer {
    margin-top: 20px;
    font-size: 16px;
}

.login-card-footer a {
    color: #2563eb;
    text-decoration: none;
}

.login-card-footer a:hover {
    text-decoration: underline;
}
