div {
    font-family: 'Arial', sans-serif;
    background-color: #A6A2A2;
    margin: 0;
    padding: 20px;
  }
  
  .header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
    color:black;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    color:black;
  }
  
  .des {
    margin-top: 20px;
    color:black;
  }
  
  #expense-history {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #expense-history th, #expense-history td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    color:black;
  }
  
  #expense-history th {
    background-color: #f4f4f9;
  }
  