.cadastro-compras {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #625C5C;
    border-radius: 5px;
    background-color: #625C5C;
    color:black;
}

.form-group {
    margin-bottom: 15px;
    background-color: #625C5C;
    color:black;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
input[type="number"],
select,
button {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #625C5C;
    border-radius: 3px;
    
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
