body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #625C5C;
    color: #625C5C;
}



.tet {
    background-color: #673D3D;
    color: #625C5C;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content  {
    margin: 0;
    font-size: 24px;
    color: #625C5C;
}
.pe{
    color:black
}

nav ul  {
    list-style: none;
    display: flex;
    gap: 20px;
    color:black;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a.active, nav ul li a:hover {
    background-color: #673D3D;
}

main {
    padding: 20px 40px;
}

section {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #673D3D(0,0,0,0.1);
}

h2 {
    color: #673D3D;
    
}

.info, .settings {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #673D3D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #673D3D;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f2f5;
    border-top: 1px solid #ccc;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 10px;
}

@media (max-width: 600px) {
    header, main, footer {
        padding: 10px;
    }

    nav ul {
        padding-top: 10px;
        justify-content: center;
    }
}
