.login-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-card {
    width: 400px;
    background-color: #625C5C;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .login-card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color:#625C5C;
  }
  
  .login-card-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#625C5C;
    background-color: #625C5C;
  }
  
  .login-card-form input[type="text"],
  .login-card-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #625C5C;
    border-radius: 5px;
    box-sizing: border-box;
    color: #625C5C;
    background-color: #625C5C;
  }
  
  .login-card-form button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-card-form button:hover {
    background-color: #45a049;
  }
  
  .login-card-footer {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .login-card-footer a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .login-card-footer a:hover {
    text-decoration: underline;
  }
  
  .login-card-social {
    margin-top: 20px;
    text-align: center;
  }
  
  .login-card-social .login-card-social-btns {
    margin-top: 10px;
  }
  
  .login-card-social .login-card-social-btns a {
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
  }
  
  .login-card-social .login-card-social-btns a:hover {
    color: #4CAF50;
  }
  